<nz-spin [nzSpinning]="isSpinning">
    <!--Header-->
    <div style="background-image: url(assets/images/background.png); background-size: 50%;">
        <br>
        <div nz-row nzJustify="center">
            <div nz-col>
                <nz-avatar [nzSize]="150" [nzSrc]="avatar">
                </nz-avatar>
            </div>

        </div>
        <div nz-row nzJustify="center">
            <div nz-col>
                <h4 style="color: aliceblue;">{{userId}}</h4>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!--Body-->
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitValidateForm(validateForm.value)">
        <div nz-row nzJustify="center">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>User Name</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
                        [nzErrorTip]="nameErrorTpl">
                        <input nz-input formControlName="userName" placeholder="User name" />
                        <ng-template #nameErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please input user name!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
                        [nzErrorTip]="emailErrorTpl">
                        <input nz-input formControlName="email" placeholder="user@email.com" />
                        <ng-template #emailErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please input email!
                            </ng-container>
                            <ng-container *ngIf="control.hasError('email')">
                                The input is not valid E-mail!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzJustify="center">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>First Name</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
                        [nzErrorTip]="firstNameErrorTpl">
                        <input nz-input formControlName="firstName" placeholder="First name" />
                        <ng-template #firstNameErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please input first name!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Last Name</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
                        [nzErrorTip]="lastNameErrorTpl">
                        <input nz-input formControlName="lastName" placeholder="Last name" />
                        <ng-template #lastNameErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please input last name!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzJustify="center">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Phone</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']"
                        nzErrorTip="Please input your phone number!">
                        <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Date of Birth</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-date-picker formControlName="dob"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzJustify="center">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Create Date</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-date-picker formControlName="createDate" nzDisabled></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Last Update</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-date-picker formControlName="lastModifiedDate" nzDisabled></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item>
            <nz-form-label [nzSm]=" 6" [nzXs]="24">Avatar Uri</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating...">
                <input nz-input formControlName="avatarUri" placeholder="avatar uri" [ngModel]="avatar" />
                <nz-upload [nzLimit]="1" nzAction="{{api_upload}}" [nzHeaders]="{ authorization: 'authorization-text' }"
                    (nzChange)="handleChange($event)">
                    <a nz-button><i nz-icon nzType="upload"></i>Click to Upload</a>
                </nz-upload>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]=" 6" [nzXs]="24">Delete Account</nz-form-label>
            <nz-form-control [nzSm]="24">
                <a nz-button (click)='delete()' nz-button nzType="primary" nzDanger>Delete</a>
            </nz-form-control>
        </nz-form-item>
        <div nz-row nzJustify="center">
            <div nz-col>
                <nz-form-item>
                    <nz-form-control>
                        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Save changes</button>
                        <button nz-button (click)='getUserDetail(userId)'>Cancel</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
    <br><br>
</nz-spin>