<nz-spin [nzSpinning]="isSpinning">
    <!--Header-->
    <div style="background-image: url(assets/images/background.png); background-size: 50%;">
        <br>
        <div nz-row nzJustify="center">
            <div nz-col>
                <nz-avatar [nzSize]="150" [nzSrc]="avatar">
                </nz-avatar>
            </div>
        </div>
        <div nz-row nzJustify="center">
            <div nz-col>
                <h4 style="color: aliceblue;">{{userId}}</h4>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!--Body-->
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitValidateForm()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Old Password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                <nz-input-group>
                    <input type="password" formControlName="currentPassword" nz-input />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div nz-row nzJustify="center">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                        <input nz-input type="password" id="newPassword" formControlName="newPassword"
                            (ngModelChange)="updateConfirmValidator()" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm
                    </nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="errorTpl">
                        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                        <ng-template #errorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please confirm your password!
                            </ng-container>
                            <ng-container *ngIf="control.hasError('confirm')">
                                Two passwords that you enter is inconsistent!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzJustify="center">
            <div nz-col>
                <nz-form-item>
                    <nz-form-control>
                        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Change
                            password</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
    <br><br>
</nz-spin>